body{
  font-family:Georgia;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/selga.png");
}
h1{
  color:#ffa500;
}
.about-me{
  font-size:20px;
  opacity: 0.5;
}
.header{
  text-align:center;
  background-color:#40e0d0;
}
.title{
  font-weight:bold;
}
